body{
background-color: #f5f5db;
font-size: 14px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 25px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #609d9f;
    color: hwb(0 0% 96%);
}

p{

    


}

img{
padding: 10px;
border: 1px solid rgb(rgb(255, 0, 0), green, 255,0,0);


}


figure{


}


.warning{



}