body{
background-color: beige;
font-size: 14px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1{

}


p{


}

img{


}


figure{


}


.warning{



}