body{
background-color: hwb(46 51% 5% / 0.986);
font-size: 14px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1{
    text-align: center;
    text-transform: uppercase;
    border-bottom: rgb(255, 0, 0);
    margin-top: 10px;
    margin-left: 5px;
    font-size: 16px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(252, 252, 252);
    color: rgb(255, 0, 0);
}

li{
    color: rgb(255, 0, 0);  
}

a:hover{
    color: rgb(0, 0, 255)
}

p{

}

img{
padding: 10px;
width: 250px;
opacity:0.5;
border: 1px solid rgb(255, 0, 0);
}



figure{
    position: relative;
    width: 334px;
    height: 180px;
    background-color: rgb(127, 127, 127);

}

figcaption {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 180px;
    line-height: 24px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: rgb(69, 47, 167);
    text-transform: uppercase;
    writing-mode:horizontal-tb;
    }


.warning{



}