body{
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


img{
 
    padding: 10px;
    width: 300px;
   
}

a{
    color: rgb(138, 53, 137);
}

a:hover{
    color: rgb(0, 0, 255);
}

figcaption{
    float: right;
    color: rgb(105, 149, 215);
    
}

